@media screen and (max-width: 991px) {
    header {
       
        .navbar {
            padding-top: 11px;
            padding-bottom: 17px;
            > .container-fluid {
                align-items: center;
            }
            .navbar-nav {
                padding: 36px 15px 12px;
                .nav-link {
                    color: #000;
                    &:hover::before {
                        display: none;
                    }

                }
            }
        }
        .navbar-toggler {
            position: relative;
            &[aria-expanded="true"] {
                
                span {
                    transform: rotate(45deg) translate(8px, 7px); 
                    &:nth-child(2) {
                        transform: rotate(-45deg) translate(0px, 0px);
                       }
                    &:nth-child(3) {
                        top: 50%;
                        transform: rotate(-45deg) translate(0px, 0px);
                        opacity: 0;

                       }
                }
                
            }
            span {
               background-color: #000;
               height: 2px;
               width: 100%;
               display: block;
               position: absolute;
               top: 0;
               left: 0;
               transition: .4s;
               &:nth-child(2) {
                top: 50%;
               }
               &:nth-child(3) {
                top: 100%;
               }
            }
        }
    }  

}


