<div class="example">
    <div class="container">
        <h2 class="example-title">
            Живой пример
        </h2>
        <div class="example-row">
            <div class="example-options">
                <div class="example-options_description">
                    Борис сбросил 5 кг за 2 месяца, просто заменив свой 
                    обычный корм на Cat Energy Slim. Отличный результат 
                    без изнуряющих тренировок! При этом он не менял своих 
                    привычек и по-прежнему спит по 16 часов в день. 
                </div>
                <div class="example-options_param">
                    <div class="example-options_param-item">
                        "5 КГ"
                        <span>снижение веса</span>
                    </div>
                    <div class="example-options_param-item">
                        "60 ДНЕЙ"
                        <span>затрачено времени</span>
                    </div>
                </div>
                <div class="example-options_total">
                    <span>Затраты на питание:</span>
                    <span>15 000 ГРН</span>
                </div>
            </div>

            <div class="example-slider">
                <div id="page">
                    <div class="example-slider_wrapper">
                      <div class="before">
                        <img class="content-image" src="assets/img/slider-befor-after_1.png" draggable="false"/>   </div>
                      <div class="after">
                        <img class="content-image" src="assets/img/slider-befor-after_2.png" draggable="false"/>
                      </div>
                      <div class="scroller">
                        <svg class="scroller__thumb" xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100"><polygon points="0 50 37 68 37 32 0 50" style="fill:red"/><polygon points="100 50 64 32 64 68 100 50" style="fill:red"/></svg>
                      </div>
                    </div>
                    </div>
            </div>

        </div>
    </div>
</div>
